$colors: (
  amaranth: #ed235c,
  burnt-sienna: #eb5757,
  sea-buckthorn: #f29e4c,
  bright-turquoise: #1feeb2,
  medium-aquamarine: #6fcf97,
  maya-blue: #56ccf2,
  medium-orchid: #bb6bd9,
  medium-purple: #9b51e0,
  gainsboro: #e6e6e6,
);

$palettes: (
  red:map-get($colors, amaranth),
  orange:map-get($colors, burnt-sienna),
  orange-lighten1:map-get($colors, sea-buckthorn),
  green:map-get($colors, bright-turquoise),
  green-darken1:map-get($colors, medium-aquamarine),
  blue:map-get($colors, maya-blue),
  purple:map-get($colors, medium-orchid),
  purple-darken1:map-get($colors, medium-purple),
  grey:map-get($colors, gainsboro),
);

$palettes: map-merge($palettes, $colors);
$mdc-theme-primary: map-get($palettes, red);
$generate-keyframes: false;

html {
  touch-action: manipulation;
}

h1.logo {
  font-family: 'GothamRoundedMedium';
  font-style: italic;
  text-align: center;
  font-size: 5rem;
  color: map-get($palettes, red);
  font-weight: 900;
  //line-height: 1rem;
  margin:0;
}


.hide {
  display: none;
}

.clearfix {
  &::before, &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.mdc-snackbar {
  z-index: 9;
}
.mdc-top-app-bar--fixed-adjust{
  padding-bottom: 56px;
}