@import "./colors";

h1.logo {
  color: $default-color !important;
  //font-family: 'GothamRoundedBook';
  font-family: 'GothamRoundedMedium';
  font-weight: 900;
  font-style: italic;
  font-size: 5rem;
}


.img-container {
  $size: 5rem;
  width: $size;
  height: $size;
  img {
    border-radius: 1rem;
  }
}
.select-image{
  img{
    text-align: center;
    $size:3rem;
    width: $size;
    // height: $size;
  }
}
